$colorCard : #adadad;

.card{
    background: $colorCard;
    border-radius: 14px;
    padding: 10px;
    text-align: center;
}

.femenino{
    background: #f883ee
    ;
}

.masculino{
    background: #5384ec
    ;
}
