$bg-prestados: #4154f1;
$bg-descatalogados: #ff771d;
$bg-extraviados: #726c6b;
$weight: 10px;


.prestado-sass, .descatalogado-sass, .extraviado-sass {
    width:  $weight * 7;
font: {
    weight: 600;
    size: $weight;
}
padding: {
    top: $weight;
    bottom: $weight;
    left: $weight * 2;
    right: $weight * 2;
}
border: {
    color: #d8d8d8;
    width: 3px;
    style: solid;
    radius: $weight;
}

}

.extraviado-sass {
    background-color: $bg-extraviados;
}

.prestado-sass{
    background-color: $bg-prestados;
}

.descatalogado-sass {
    background-color: $bg-descatalogados;
}