
$danger-color :#ff7c7c;
$card-title : #202a3e;



.bg-danger {
    --bs-bg-opacity: 1;
    background-color: $danger-color !important;
}

.card-title span {
    color: $card-title;
    font-size: 14px;
    font-weight: 400;
}