body {
    height: 150px;
    width: 1000px;
}

#contenedor {
    height: 100%;
    width: 90%;
    border: solid 1px;
}

.red, .yellow, .blue, .black {
    height: 100%;
    margin-right: 5%;
    width: 160px;
    float: left;
}



[class*="red"] {
    background-color: red; 
}
[class*="yellow"] {
    background-color: yellow; 
}
[class*="blue"] {
    background-color: blue; 
}
[class*="black"] {
    background-color: black; 
}